*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #79d2ff;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
text-decoration:dotted;
color: black;
font-weight:bold;
}

nav ul li a:hover{
    color: darkred;
}

.detel{
    margin-left: 5%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

nav img{
    display: block;
    width: 100px;
    shape-outside: margin-box;
}
span{
    color: orange;
}
span:hover{
    color: #212121;
}
.detel p{
    color: black;
}
.detel a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    display:inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detel a:hover{
    color: orange;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;
}

.images:hover .self{
    left: 45%;
}
h{
    font-family: 'Wallpoet', cursive;
    font-size:50px;
}
h:hover{
    color: rgb(208, 6, 6);
    -webkit-text-stroke-width:0.5px ;
}
